@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
  /** CSS DARK THEME PRIMARY COLORS */
  --color-primary-100: #3f51b5;
  --color-primary-200: #5962be;
  --color-primary-300: #7074c6;
  --color-primary-400: #8587ce;
  --color-primary-500: #9a9ad7;
  --color-primary-600: #aeaddf;
  /** CSS DARK THEME SURFACE COLORS */
  --color-surface-100: #121212;
  --color-surface-200: #282828;
  --color-surface-300: #3f3f3f;
  --color-surface-400: #575757;
  --color-surface-500: #717171;
  --color-surface-600: #8b8b8b;
  /** CSS DARK THEME MIXED SURFACE COLORS */
  --color-surface-mixed-100: #181820;
  --color-surface-mixed-200: #2d2d35;
  --color-surface-mixed-300: #44444b;
  --color-surface-mixed-400: #5c5b62;
  --color-surface-mixed-500: #75747a;
  --color-surface-mixed-600: #8f8f93;

  --highlight-color: var(--color-primary-500);
  --highlight-color-darker: var(--color-primary-300);
  --button-text-color: var(--color-surface-100);

  color: white;

  background-color: var(--color-surface-mixed-100);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body {
  height: 100%;
}

main {
  padding: 0 20%;
}

nav {
  display: flex;
  align-items: center;
  padding: 28px 0;
}

hr {
  border: 1px solid var(--color-surface-200);
}

nav h3 {
  font-size: 28px;
  color: var(--highlight-color);
  padding-left: 30px;
}

nav h1 {
  font-size: 35px;
}

container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  padding: 28px 0;
  grid-template-rows: auto;
  grid-gap: 15px;
}

#add-book,
.card {
  border-radius: 15px;
}

#add-book {
  cursor: pointer;
  padding: 30% 0;
  margin: 10px;
  display: flex;
  order: 9999999999999999999;
  border: 2px dashed var(--highlight-color);
}

#add-book button {
  background: none;
}

#add-book img {
  width: 30%;
}

#add-book:hover {
  background-color: var(--color-surface-mixed-200);
}

.card {
  background-color: var(--color-surface-mixed-200);
  padding: 45px 20px 30px 35px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  hyphens: auto;

  display: flex;
  flex-direction: column;
  min-height: 100%;

  position: relative;
  top: 0;
  transition: all 0.2s ease-in-out;
}

.finished-card {
  border-left: 15px solid var(--highlight-color);
}

.author,
.pages {
  display: inline;
  font-size: 14px;
  font-weight: bold;
  color: #c9c9c9;
  text-transform: uppercase;
}

.author {
  margin-top: 1.7em;
}

.pages {
  margin-bottom: 1em;
}

.card:hover {
  top: -4px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

button {
  border-radius: 50px;
  border: 0;
  cursor: pointer;
}

.remove-icon {
  width: 24px;
  filter: brightness(0) invert(10%) sepia(70%) saturate(7334%)
    hue-rotate(348deg) brightness(80%) contrast(90%);
}

.remove-btn {
  background-color: var(--background-color);
  padding: 7px;
}

.remove-btn:hover {
  background-color: var(--color-surface-100);
  transition: all 0.1s ease-in;
}

.isread-btn {
  font-size: 15px;
  font-weight: 500;
  padding: 7px 18px;
  background-color: var(--highlight-color);

  flex: 1;
}

.isread-btn:hover {
  background-color: var(--highlight-color-darker);
  transition: all 0.1s ease-in;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: auto;
}

.modal-container {
  z-index: 1;
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.show {
  display: flex;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-surface-mixed-200);
  border-radius: 15px;
}

.modal .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 33px 50px 33px;
}

.modal .close-button {
  align-self: flex-end;
  font-size: 1.5rem;
  padding: 2px 9px;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
  background-color: var(--color-surface-500);
  margin: 25px;
}

.modal .close-button:hover {
  background-color: var(--color-surface-mixed-100);
}

.modal h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: var(--highlight-color);
}

.modal input {
  border: none;
  border-radius: 20px;
  padding: 9px 18px;
}

.modal input:focus {
  outline: none;
}

.modal input[type='submit'] {
  font-weight: 500;
  margin-top: 10px;
  padding: 10px 25px;
  background-color: var(--highlight-color);
}

.modal input[type='submit']:hover {
  background-color: var(--highlight-color-darker);
  cursor: pointer;
}

.warning {
  display: none;
  color: #ed2b2a;
  padding-top: 3px;
}

@media (max-width: 1000px) {
  main {
    padding: 0 5%;
  }
  #add-book {
    padding: 10% 0;
  }
}
