:root {
  /** CSS DARK THEME PRIMARY COLORS */
  --color-primary-100: #3f51b5;
  --color-primary-200: #5962be;
  --color-primary-300: #7074c6;
  --color-primary-400: #8587ce;
  --color-primary-500: #9a9ad7;
  --color-primary-600: #aeaddf;
  /** CSS DARK THEME SURFACE COLORS */
  --color-surface-100: #121212;
  --color-surface-200: #282828;
  --color-surface-300: #3f3f3f;
  --color-surface-400: #575757;
  --color-surface-500: #717171;
  --color-surface-600: #8b8b8b;
  /** CSS DARK THEME MIXED SURFACE COLORS */
  --color-surface-mixed-100: #181820;
  --color-surface-mixed-200: #2d2d35;
  --color-surface-mixed-300: #44444b;
  --color-surface-mixed-400: #5c5b62;
  --color-surface-mixed-500: #75747a;
  --color-surface-mixed-600: #8f8f93;

  --highlight-color: var(--color-primary-600);
  --button-text-color: var(--color-surface-100);

  color: white;
  background-color: var(--color-surface-100);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  padding: 0 15%;
}

nav {
  display: flex;
  align-items: center;
  padding: 28px 0;
}

hr {
  border: 1px solid var(--color-surface-200);
}

nav h3 {
  color: var(--highlight-color);
  padding-right: 3px;
}

container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 28px 0;
  grid-template-rows: auto;
  grid-gap: 15px;
}

.card {
  background-color: var(--color-surface-200);
  padding: 20px;
  border-radius: 15px;
}
